<h1><%= @total %> Total Stores</h1>
  <% @stores.each do |store| %>
    <div class="store">
      <h3 class="long_name"><%= store.long_name %></h3>
      <p class="city"><%= store.city %></p>
      <p class="distance"><%= store.distance %></p>
      <p class="phone"><%= store.phone %></p>
    </div>
  <% end %>
